spring:
  application:
    name: EcommerceBackend
  data:
    mongodb:
      host: localhost
      port: 27017
      database: ecommerce_db

server:
  port: 8080

logging:
  level:
    org.springframework.data.mongodb: DEBUG
    com.student.ecommerce: DEBUG
